@import "reset";
@import "variable";
@import "transition";
@import "iconfont.css";

* {
  font-family: 'Source Code Pro Semibold';
}

body {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}

.single-omit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

