* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

i {
    font-style: normal;
}

img {
    display: block;
}

ul,
ol {
    list-style: none;
}

input,
button,
textarea {
    outline: none;
}