$themeColor: #4c71dd;
$sideBarWidth: 100px;

// The color of the blood sugar index
$low-gi-bg:   #F1F5FF;
$low-gi-font: #4F80E4;
$mid-gi-bg:   #FFF1D1;
$mid-gi-font: #FFC107;
$high-gi-bg:   #FEF4F2;
$high-gi-font: #F8A292;